<!DOCTYPE html>
<!-- saved from url=(0022)https://updown.io/ngg8 -->
<html lang="en" class="chrome ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style data-merge-styles="true"></style>
    <title>✅</title>
    <meta content="Status on last indexing (03 Apr 14:03 UTC) → 100% uptime (1 month) · 147 ms average response time · 1.0 Apdex (0.5s)" name="description">
    <link rel="shortcut icon" type="image/png" href="https://updown.io/favicon.png">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="#5c4" name="theme-color">
    <link href="https://updown.io/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" media="all" href="./css/index.css">
</head>

<body class="no-footer">
    <header>
        <div class="center"></div>
    </header>
    <section id="current-status">
        <div class="last-check">
            <div class="status unknown">200 OK</div>
        </div>
        <div class="url"><span class="scheme https ssl-valid" title="&lt;table&gt;&lt;tr class=&quot;ssl-valid&quot;&gt;&lt;td class=&quot;icon&quot;&gt;&lt;i class=&quot;icon icon-badge-check&quot;&gt;&lt;/i&gt; &lt;/td&gt;&lt;td&gt;&lt;strong&gt;Valid SSL certificate&lt;/strong&gt;&lt;br /&gt;Tested on April 03, 2022 14:00&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;subject:&lt;/th&gt;&lt;td&gt;updown.io&lt;br /&gt;&lt;small&gt;www.updown.io (SAN)&lt;/small&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;validity:&lt;/th&gt;&lt;td&gt;March 23, 2022 16:19 — June 21, 2022 16:19&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;algorithm:&lt;/th&gt;&lt;td&gt;SHA-256 with RSA encryption&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;th&gt;issuer:&lt;/th&gt;&lt;td&gt;R3 (Let&amp;#39;s Encrypt)&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;"
                rel="tooltip">https</span><span class="scheme">://</span><span class="host">updown.io</span> <a href="https://updown.io/"><svg height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a></div>
        <div class="legend">Last check: <time datetime="2022-04-03T14:03:07Z" data-format="local" title="2022-04-03 14:03:07 UTC">Apr 03, 14:03:07 UTC</time></div>
        <div id="uptime">
            <div class="number gold">100%</div>
            <div class="legend">1 month rolling uptime (since Mar 03)</div>
        </div>
    </section>
    <section>
        <div class="center">
            <h5><span>last 24 hours</span></h5>
            <div class="status-history" id="last-day">
                <div class="uptime">
                    <div class="numbers"><strong>100% </strong><span>Uptime</span></div>
                    <div class="history">
                        <div class="uptime-timeline"><output><i class="fill"></i><i class="disabled" rel="tooltip" style="left: 96.05%; width: 3.95%" title="Not monitored yet"></i></output></div>
                    </div>
                </div>
                <div class="apdex">
                    <div class="numbers"><strong>1.0</strong> <span>Apdex (0.5)
<a class="whatsthis" href="https://updown.uservoice.com/knowledgebase/articles/915588"><svg viewBox="0 0 512 512" height="16px" class="icon icon-question-circle"><path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path></svg></a></span></div>
                    <div class="history">
                        <div class="apdex-timeline"><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-02T17:00:00Z" class="ends-at">17h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-02T19:00:00Z" class="ends-at">19h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-02T21:00:00Z" class="ends-at">21h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-02T23:00:00Z" class="ends-at">23h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T01:00:00Z" class="ends-at">1h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T03:00:00Z" class="ends-at">3h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T05:00:00Z" class="ends-at">5h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T07:00:00Z" class="ends-at">7h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 99.0%"><span>.99</span></i></output><output><time datetime="2022-04-03T09:00:00Z" class="ends-at">9h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T11:00:00Z" class="ends-at">11h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T13:00:00Z" class="ends-at">13h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><i class="gold" style="height: 100.0%"><span>1.0</span></i></output><output><time datetime="2022-04-03T15:00:00Z" class="ends-at">15h</time><i class="gold" style="height: 100.0%"><span>1.0</span></i></output></div>
                    </div>
                </div>
                <div class="response-time">
                    <div class="numbers"><strong>147<small>ms</small></strong> <span class="legend"><i class="server">Response time</i> (<small>incl.</small>&nbsp;latency)</span></div>
                    <div class="history">
                        <div class="rt-chart"><output class="good" style="-webkit-flex: 11; -ms-flex: 11; flex: 11;"><div class="ends-at">125<small>ms</small></div><i style="height: 44%"><span class="top">1786</span></i></output><output class="good" style="-webkit-flex: 11; -ms-flex: 11; flex: 11;"><div class="ends-at">250<small>ms</small></div><i style="height: 45%"><span class="top">1824</span></i></output>
                            <output class="good" style="-webkit-flex: 16; -ms-flex: 16; flex: 16;">
                            <div class="ends-at">500<small>ms</small></div><i style="height: 9%"><span class="top">364</span></i></output><output class="tolerated compact" style="-webkit-flex: 22; -ms-flex: 22; flex: 22;"><div class="ends-at">1<small>s</small></div></output>
                            <output class="tolerated compact" style="-webkit-flex: 32; -ms-flex: 32; flex: 32;">
                                <div class="ends-at">2<small>s</small></div>
                                </output><output class="frustrated compact" style="-webkit-flex: 45; -ms-flex: 45; flex: 45;"><div class="ends-at">4<small>s</small></div></output><output class="frustrated compact" style="-webkit-flex: 63; -ms-flex: 63; flex: 63;"><div class="ends-at">8<small>s</small></div></output>
                            <output class="frustrated err">
                                    <div class="ends-at">8<small>s</small><small>+/err</small></div><i style="height: 0%"><span class="top">1</span></i></output>
                        </div>
                    </div>
                </div>
                <div class="total-time">
                    <div class="numbers"><strong>441<small>ms</small></strong> <span class="legend">Total time: <i class="namelookup">Name lookup</i> +&nbsp;<i class="connect">Connection</i> +&nbsp;<i class="handshake">TLS handshake</i> +&nbsp;<i class="server">Response time</i></span></div>
                    <div class="history">
                        <table class="total-time-charts">
                            <tbody>
                                <tr>
                                    <td class="location">Los Angeles<strong>, USA</strong> <img src="./img/united_states.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 2.941346153846154; -ms-flex: 2.941346153846154; flex: 2.941346153846154;">2 ms</i><i class="connect" style="-webkit-flex: 148.0597490842491; -ms-flex: 148.0597490842491; flex: 148.0597490842491;">148 ms</i>
                                        <i class="handshake" style="-webkit-flex: 163.2935695970696; -ms-flex: 163.2935695970696; flex: 163.2935695970696;">163 ms</i><i class="server" style="-webkit-flex: 155.82729304029303; -ms-flex: 155.82729304029303; flex: 155.82729304029303;">155 ms</i>
                                        <i class="padding" style="-webkit-flex: 529.8780421245422; -ms-flex: 529.8780421245422; flex: 529.8780421245422;">470 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Miami<strong>, USA</strong> <img src="./img/united_states.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 2.3428426573426573; -ms-flex: 2.3428426573426573; flex: 2.3428426573426573;">2 ms</i><i class="connect" style="-webkit-flex: 119.33015209790209; -ms-flex: 119.33015209790209; flex: 119.33015209790209;">119 ms</i>
                                        <i class="handshake" style="-webkit-flex: 129.39840384615383; -ms-flex: 129.39840384615383; flex: 129.39840384615383;">129 ms</i><i class="server" style="-webkit-flex: 125.82138636363636; -ms-flex: 125.82138636363636; flex: 125.82138636363636;">125 ms</i>
                                        <i class="padding" style="-webkit-flex: 623.107215034965; -ms-flex: 623.107215034965; flex: 623.107215034965;">376 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Montreal<strong>, Canada</strong> <img src="./img/canada.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 0.7185740740740739; -ms-flex: 0.7185740740740739; flex: 0.7185740740740739;">0 ms</i><i class="connect" style="-webkit-flex: 94.52524691358026; -ms-flex: 94.52524691358026; flex: 94.52524691358026;">94 ms</i>
                                        <i class="handshake" style="-webkit-flex: 105.96303086419756; -ms-flex: 105.96303086419756; flex: 105.96303086419756;">105 ms</i><i class="server" style="-webkit-flex: 98.37664197530864; -ms-flex: 98.37664197530864; flex: 98.37664197530864;">98 ms</i>
                                        <i class="padding" style="-webkit-flex: 700.4165061728394; -ms-flex: 700.4165061728394; flex: 700.4165061728394;">299 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Roubaix<strong>, France</strong> <img src="./img/france.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 0.3190470588235294; -ms-flex: 0.3190470588235294; flex: 0.3190470588235294;">0 ms</i><i class="connect" style="-webkit-flex: 12.969798319327731; -ms-flex: 12.969798319327731; flex: 12.969798319327731;">12 ms</i>
                                        <i class="handshake" style="-webkit-flex: 24.188105882352943; -ms-flex: 24.188105882352943; flex: 24.188105882352943;">24 ms</i><i class="server" style="-webkit-flex: 18.1061243697479; -ms-flex: 18.1061243697479; flex: 18.1061243697479;">18 ms</i>
                                        <i class="padding" style="-webkit-flex: 944.4169243697478; -ms-flex: 944.4169243697478; flex: 944.4169243697478;">55 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Frankfurt<strong>, Germany</strong> <img src="./img/germany.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 1.5564612612612614; -ms-flex: 1.5564612612612614; flex: 1.5564612612612614;">1 ms</i><i class="connect" style="-webkit-flex: 5.340297297297297; -ms-flex: 5.340297297297297; flex: 5.340297297297297;">5 ms</i>
                                        <i class="handshake" style="-webkit-flex: 15.34838918918919; -ms-flex: 15.34838918918919; flex: 15.34838918918919;">15 ms</i><i class="server" style="-webkit-flex: 17.184618018018018; -ms-flex: 17.184618018018018; flex: 17.184618018018018;">17 ms</i>
                                        <i class="padding" style="-webkit-flex: 960.5702342342342; -ms-flex: 960.5702342342342; flex: 960.5702342342342;">39 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Singapore<strong>, Singapore</strong> <img src="./img/singapore.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 1.3738472222222222; -ms-flex: 1.3738472222222222; flex: 1.3738472222222222;">1 ms</i><i class="connect" style="-webkit-flex: 244.70101388888887; -ms-flex: 244.70101388888887; flex: 244.70101388888887;">244 ms</i>
                                        <i class="handshake" style="-webkit-flex: 251.0851865079365; -ms-flex: 251.0851865079365; flex: 251.0851865079365;">251 ms</i><i class="server" style="-webkit-flex: 265.58277182539683; -ms-flex: 265.58277182539683; flex: 265.58277182539683;">265 ms</i>
                                        <i class="padding" style="-webkit-flex: 237.25718055555558; -ms-flex: 237.25718055555558; flex: 237.25718055555558;">763 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Tokyo<strong>, Japan</strong> <img src="./img/japan.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 21.354049056603774; -ms-flex: 21.354049056603774; flex: 21.354049056603774;">21 ms</i><i class="connect" style="-webkit-flex: 241.86571698113207; -ms-flex: 241.86571698113207; flex: 241.86571698113207;">241 ms</i>
                                        <i class="handshake" style="-webkit-flex: 252.7748886792453; -ms-flex: 252.7748886792453; flex: 252.7748886792453;">252 ms</i><i class="server" style="-webkit-flex: 245.6077679245283; -ms-flex: 245.6077679245283; flex: 245.6077679245283;">245 ms</i>
                                        <i class="padding" style="-webkit-flex: 238.3975773584905; -ms-flex: 238.3975773584905; flex: 238.3975773584905;">761 ms</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="location">Sydney<strong>, Australia</strong> <img src="./img/australia.png"></td>
                                    <td class="total-time-chart"><i class="namelookup" style="-webkit-flex: 3.0188238747553813; -ms-flex: 3.0188238747553813; flex: 3.0188238747553813;">3 ms</i><i class="connect" style="-webkit-flex: 249.88375929549903; -ms-flex: 249.88375929549903; flex: 249.88375929549903;">249 ms</i>
                                        <i class="handshake" style="-webkit-flex: 259.5022426614481; -ms-flex: 259.5022426614481; flex: 259.5022426614481;">259 ms</i><i class="server" style="-webkit-flex: 252.78983953033267; -ms-flex: 252.78983953033267; flex: 252.78983953033267;">252 ms</i>
                                        <i class="padding" style="-webkit-flex: 234.8053346379647; -ms-flex: 234.8053346379647; flex: 234.8053346379647;">765 ms</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h5><span>last months</span></h5>
            <div id="last-months">
                <div class="calendar">
                    <div class="month">
                        <div class="label">Nov: 100%</div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 01:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 02:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 03:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 04:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 05:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 06:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 07:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 08:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 09:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 10:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 11:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 12:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 13:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 14:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 15:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 16:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 17:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 18:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 19:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 20:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" rel="tooltip" data-original-title="&lt;small&gt;Nov 21:&lt;/small&gt; No downtime"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 22:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 23:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 24:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 25:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 26:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" rel="tooltip" data-original-title="&lt;small&gt;Nov 27:&lt;/small&gt; No downtime"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 28:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 29:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Nov 30:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                    <div class="month">
                        <div class="label">Dec: 100%</div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 01:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 02:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 03:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 04:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 05:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 06:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 07:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 08:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 09:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 10:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 11:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" rel="tooltip" data-original-title="&lt;small&gt;Dec 12:&lt;/small&gt; No downtime"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 13:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 14:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 15:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 16:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 17:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 18:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 19:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 20:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" rel="tooltip" data-original-title="&lt;small&gt;Dec 21:&lt;/small&gt; No downtime"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 22:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 23:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 24:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 25:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 26:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 27:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 28:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 29:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 30:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Dec 31:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                    <div class="month">
                        <div class="label">Jan: 100%</div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 01:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 02:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 03:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 04:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 05:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 06:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 07:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 08:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 09:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 10:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 11:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 12:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 13:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 14:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 15:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 16:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 17:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 18:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 19:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 20:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 21:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 22:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 23:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 24:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 25:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 26:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 27:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 28:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 29:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 30:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Jan 31:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                    <div class="month">
                        <div class="label">Feb: 99.99%</div>
                        <div class="uptime"></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 01:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 02:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 03:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 04:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 05:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 06:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 07:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 08:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 09:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 10:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 11:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 12:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 13:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 14:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 15:&lt;/small&gt; No downtime · 0.99 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 16:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 17:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 18:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 19:&lt;/small&gt; No downtime" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 20:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 21:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 22:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 23:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime silver" title="&lt;small&gt;Feb 24:&lt;/small&gt; 2m downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 25:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 26:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 27:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Feb 28:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                    <div class="month">
                        <div class="label">Mar: 100%</div>
                        <div class="uptime"></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 01:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 02:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 03:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 04:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 05:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 06:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 07:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 08:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 09:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 10:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 11:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 12:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 13:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 14:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 15:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 16:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 17:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 18:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 19:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 20:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 21:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 22:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 23:&lt;/small&gt; No downtime · 0.99 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 24:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 25:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 26:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 27:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 28:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 29:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 30:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Mar 31:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                    <div class="month">
                        <div class="label">Apr: 100%</div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime"></div>
                        <div class="uptime gold" title="&lt;small&gt;Apr 01:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold" title="&lt;small&gt;Apr 02:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)" rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime gold incomplete" title="&lt;small&gt;Apr 03:&lt;/small&gt; No downtime · 1.0 Apdex (0.5s)&lt;br/&gt; &lt;small&gt;&lt;svg viewbox=&quot;0 0 16 16&quot; class=&quot;icon icon-circle&quot;&gt;&lt;circle cx=&quot;8&quot; cy=&quot;8&quot; r=&quot;7&quot;&gt;&lt;/circle&gt;&lt;/svg&gt; only 58.5% of the day has been monitored&lt;/small&gt;"
                            rel="tooltip"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                        <div class="uptime disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg></div>
                    </div>
                </div>
                <div class="legend">
                    <div class="entry disabled"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg><span>No data</span></div>
                    <div class="entry gold"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg><span>No downtime</span></div>
                    <div class="entry silver"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg><span>&lt; 15m downtime</span></div>
                    <div class="entry bad"><svg viewBox="0 0 16 16" class="icon icon-circle"><circle cx="8" cy="8" r="7"></circle></svg><span>&gt; 15m downtime</span></div>
                </div>
            </div>
        </div>
    </section>
    <script src="./js/index.js"></script>
    <div class="tooltip top" style="left: 560px; top: 1048px; display: none;">
        <div class="arrow" style="left: 83.5px;"></div>
        <div class="tooltip-inner"><small>Dec 12:</small> No downtime</div>
    </div>
</body>

</html>